<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SteamSaveLocation" value="C:\\Users\\cdlev\\source\\repos\\DeepRockGalacticSaveSync\\DeepRockGalacticSaveSync\\obj\\Debug\\location_steam" />
    <add key="XboxSaveLocation" value="C:\\Users\\cdlev\\source\\repos\\DeepRockGalacticSaveSync\\DeepRockGalacticSaveSync\\obj\\Debug\\location_xbox" />
  </appSettings>
</configuration>